{% extends 'base.html' %}
{#{% extends 'paypage.html' %}#}

{% load static %}
{% block content %}

    <section class=" " style=" margin: 45px 0; height: 350px;
    position: relative;">
        <div class="container">
            <div class="row" style="">
                <div class="col-lg-6"
                     style="background-color: #f5d3d3;box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.23);">
                    <div>


                        <br/>

                        <div style="width: 90%">
                            {#                            <p>select address</p>#}
                            <img src="{% static 'js/add.jpeg' %}" width="60px">
                            <a type="button"  class="btn  btn-success"
                               href="{% url 'accounts:cusAdd' %}">add address</a>

                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select address</option>
                                {% for add in address %}
                                    <option value="1">city_name:{{ add.city_name }} , avenue_name:{{ add.avenue_name }}
                                        ,
                                        street_name:{{ add.street_name }} ,
                                        plate:{{ add.plate }} , zipcode:{{ add.zipCode }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <br/>
                        <br/>
                        <div style="text-align:center;margin-top:10%">
                            <p>COUPON CODE</p>
                            <form action="{% url 'orders:apply_coupon' order.id %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" class="btn btn-primary" value="Apply">
                            </form>
                        </div>


                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">

                        <div class="row">
                            <aside class="col-sm-12">
                                <article class="card">
                                    <div class="card-body p-5">
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="username">Full name (on the card)</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="bi bi-person"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" name="username"
                                                           placeholder="" required="">
                                                </div> <!-- input-group.// -->
                                            </div> <!-- form-group.// -->

                                            <div class="form-group">
                                                <label for="cardNumber">Card number</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="bi bi-credit-card"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" name="cardNumber"
                                                           placeholder="">
                                                </div> <!-- input-group.// -->
                                            </div> <!-- form-group.// -->

                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label><span class="hidden-xs">Expiration</span> </label>
                                                        <div class="form-inline">
                                                            <select class="form-control" style="width:45%">
                                                                <option>MM</option>
                                                                <option>01 - Janiary</option>
                                                                <option>02 - February</option>
                                                                <option>03 - February</option>
                                                            </select>
                                                            <span style="width:10%; text-align: center"> / </span>
                                                            <select class="form-control" style="width:45%">
                                                                <option>YY</option>
                                                                <option>2018</option>
                                                                <option>2019</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label data-toggle="tooltip" title=""
                                                               data-original-title="3 digits code on back side of the card">CVV
                                                            <i class="fa fa-question-circle"></i></label>
                                                        <input class="form-control" required="" type="text">
                                                    </div> <!-- form-group.// -->
                                                </div>
                                            </div> <!-- row.// -->
                                            <p>Total: {{ order.get_total_price }}</p>
                                            <a href="{% url 'orders:order_pay' order.id %}" class="btn btn-primary"
                                               style="margin-left: 45%">Pay</a>
                                        </form>
                                    </div> <!-- card-body.// -->
                                </article> <!-- card.// -->


                            </aside> <!-- col.// -->

                        </div> <!-- row.// -->
                    </div>
                </div>
            </div>
        </div>

    </section>


















{% endblock %}