
{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h5>Create New category</h5>
    <form method="POST" >
        {% csrf_token %}

        {{form.as_p}}
{#        {% else %}#}
{#            {% {{ form.customer }}==user.id %}#}
{#        {% endif %}#}
{#        <a type="button" class="btn btn-danger">Cancel</a>#}
{#        <button type="submit" class="btn btn-success">Create</button>#}
{#        <input type="submit" value="Submit" class="btn btn-success">#}
        <input type="submit" value="Submit" class="btn  btn-success"  href="{% url 'accounts:addresscreate' %}">
        <a type="button" class="btn btn-danger" href="{% url 'accounts:addressListManagement' %}">cancle</a>
    </form>
</div>
{% endblock %}