{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<div class="main">#}
{##}
{#    {% for data in dataset %}.#}
{##}
{#    {{ data.name }}<br/>#}
{#    {{ data.price }}<br/>#}
{#    {{ data.category }}<br/>#}
{##}
{#    <hr/>#}
{##}
{#    {% endfor %}#}
{##}
{#</div>#}
{#</body>#}
{#</html>#}

{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>discount List</h4>
    <table class="table">
        <thead>
            <tr>
{#                <th scope="col">category</th>#}
                <th scope="col">city_name</th>
                <th scope="col">avenue_name</th>
                <th scope="col">street_name</th>
                <th scope="col">zipCode</th>
{#                <th scope="col">active</th>#}
{#                <th scope="col">available</th>#}
            </tr>
        </thead>
        <tbody>
            {% for dis in address %}
            <tr>
{#                <td>{{ product.category.name }}</td>#}
                <td>{{ dis.city_name }}</td>
                <td>{{ dis.avenue_name }}</td>
                <td>{{ dis.street_name }}</td>
                <td>{{ dis.zipCode }}</td>
{#                <td>{{ dis.active }}</td>#}
                <td><a type="button" class="btn btn-warning" href="/accounts/addressupdate/{{ dis.id }}">Update</a>
                    <a type="button" class="btn btn-danger" href="/accounts/addressdelete/{{ dis.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{% url 'accounts:addresscreate' %}">Create</a>
</div>
{% endblock %}