<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
        <link href="../../static/css/login.css" rel="stylesheet">
        <script src="../../static/js/script.js"></script>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Login">#}
{#    </form>#}

    <div class="container card" id="card">
        <div class="front">
            <p class="login_word">LOG IN</p>
            <img src="../../static/image/male_pic%20(1).png"
                 alt="person picture">
            <form method="post" action="">
{#                <label>phone </label>#}
                    {% csrf_token %}
                {{ form.as_p }}
{#                    <input type="text" name="username" placeholder="phonnumber" class="f1"#}
{#                       value="{{ form.phone_number }}"    maxlength="10" required >#}

{#                {{ form.password }}#}
{#                <label>password</label>#}
{#                <input type="password" name="password" placeholder="password" class="f1" maxlength="10" required#}
{#                       autocomplete="off"   value="{{ form.phone_number }}" >#}
{#                <input type="submit" class="f1" name="login" value="log in" />#}
{#                <p>Not registered? <span onclick="flip()">Create an account</span></p>#}
                 <input type="submit" value="Login" class="f1" name="login" style="background-color: #FFB30E">
            </form>
        </div>

    </div>
{#    </form>#}
{% endblock %}
</body>

</html>