{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<div class="main">#}
{#    <!-- Create a Form -->#}
{#    <form method="POST">#}
{#        <!-- Security token by Django -->#}
{#        {% csrf_token %}#}
{##}
{#        <!-- form as paragraph -->#}
{#        {{ form.as_p }}#}
{##}
{#        <input type="submit" value="Update">#}
{#    </form>#}
{##}
{#</div>#}
{#</body>#}
{#</html>#}
{% extends "base.html" %}
{% load static %}
{% block content %}
    {#    <link href="../../static/css/editProfile.css" rel="stylesheet">#}
    {#    <link href="../../static/css/login.css" rel="stylesheet">#}

    <div style="margin-bottom: 20px;margin-top: 50px;background: #fafaff;text-align: center;border: 1px solid #eee; padding: 47px 30px 43px;">
        <div class="card-body" style="margin-top:-5.5%">
            <br/>

            <h4>Update Profile</h4>
            <div class="main">
                <h2>IDENTITY</h2>
                <div class="card">
                    <div class="card-body" style="margin-left: 25%">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">full_name</li>
                            <li class="list-group-item">{{ obj.full_name }}</li>
                            <li class="list-group-item">Email</li>
                            <li class="list-group-item">{{ obj.email }}</li>
                            <li class="list-group-item">phone_number</li>
                            <li class="list-group-item">{{ obj.phone_number }}</li>
                        </ul>

                    </div>

                </div>


            </div>
        </div>
        <div style="padding:5%;border:1px solid #4f88b7;border-radius:20px;width: 56%;margin-left: 22%">
            {% csrf_token %}
            <form method="post">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.full_name }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.phone }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.password }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.email }}
                    </div>
                    <button type="submit" class="btn btn-success">Update</button>
                    <a type="button" class="btn btn-warning" href="/">cancel</a>

                </div>


                {#        <a type="button" class="btn btn-danger" href="{% url 'products:productlist' %}">Cancel</a>#}
            </form>
        </div>

    </div>






{% endblock %}