{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<div class="main">#}
{#    <!-- Create a Form -->#}
{#    <form method="POST">#}
{#        <!-- Security token by Django -->#}
{#        {% csrf_token %}#}
{##}
{#        <!-- form as paragraph -->#}
{#        {{ form.as_p }}#}
{##}
{#        <input type="submit" value="Update">#}
{#    </form>#}
{##}
{#</div>#}
{#</body>#}
{#</html>#}
{% extends "base.html" %}
{% block content %}
    <link href="../../static/css/editProfile.css" rel="stylesheet">
    {#    <link href="../../static/css/login.css" rel="stylesheet">#}
    {% load static %}
    <div class="card-body" style="margin-top:-5.5%">
    <br/>

        <h4>Update Profile</h4>
        <div class="main">
            <h2>IDENTITY</h2>
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-pen fa-xs edit"></i>
                    <table>
                        <tbody>
                        <tr>
                            <td>full_name</td>
                            <td>:</td>
                            <td>{{ obj.full_name }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{ obj.email }}</td>
                        </tr>
                        <tr>
                            <td>phone_number</td>
                            <td>:</td>
                            <td>{{ obj.phone_number }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>
    <div style="padding:5%;border:1px solid #4f88b7;border-radius:20px;width: 56%;margin-left: 30%">
{% csrf_token %}
    <form method="post">

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.full_name }}
            </div>
            <div class="form-group col-md-6">
                {{ form.phone }}
            </div>
            <div class="form-group col-md-6">
                {{ form.password }}
            </div>
            <div class="form-group col-md-6">
                {{ form.email }}
            </div>
            <button type="submit" class="btn btn-success">Update</button>
            <a type="button" class="btn btn-warning" href="/">cancel</a>

        </div>


        {#        <a type="button" class="btn btn-danger" href="{% url 'products:productlist' %}">Cancel</a>#}
    </form>
    </div>


{% endblock %}