{% extends 'base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}">
{#    <script  href="{% static 'home/css/login.css' %}"/>#}

{% block content %}
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">



        </div>
            <input type="submit" value="Send">
        </form>

    <body>

{#    <script src="../../static/js/script.js"></script>#}
    </body>

{% endblock %}


