<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav ">
            {% load static %}
            <div class="cart">
                <span class="count">{{ cart|length }}</span>
                <a class="material-icons bi bi-cart" href="{% url 'orders:cart' %}"></a>
            </div>
            {% if request.user.is_authenticated %}
                <a class="nav-link active material-icons bi bi-power" href="{% url 'accounts:user_logout' %}"></a>
                <a class="nav-link active material-icons bi bi-unlock" href="{% url 'products:products' %}">{{ request.user.full_name }}</a>

            {% else %}
                <a class="nav-link active" href="{% url 'accounts:user_register' %}">Register</a>
                <a class="nav-link active" href="{% url 'accounts:user_login' %}">Login</a>
            {% endif %}
            {% if request.user.is_admin %}
                <ul>
                    <li class="nav-item dropdown">
                        <a style="color:white" class="nav-link dropdown-toggle  material-icons bi bi-file-earmark-richtext" href="#"
                           id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            management
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="nav-link active" href="{% url 'products:productlist' %}" style="color:black">product
                                management</a>
                            </li>
                            <li><a class="nav-link active" href="{% url 'products:discountlist' %}" style="color:black">discount
                                management</a>
                            </li>
                            <li><a class="nav-link active" href="{% url 'accounts:userlist' %}" style="color:black">user
                                management</a>
                            </li>
                            <li><a class="nav-link active" href="{% url 'orders:order_List' %}" style="color:black">order
                                management</a>
                            </li>
                            <li><a class="nav-link active" href="{% url 'accounts:addressListManagement' %}"
                                   style="color:black">adress
                                management</a>
                            </li>
                            <li><a class="nav-link active" href="{% url 'products:categorylist' %}" style="color:black">category
                                management</a>
                            </li>
                            <li><a class="nav-link active" href="{% url 'accounts:profileUpdate' %}"
                                   style="color:black">profile update</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
            {% if request.user.is_customer %}

                <a class="nav-link active material-icons bi bi-file-person"
                   href="{% url 'accounts:profileUpdate' %}">profile</a>
                <a class="nav-link active material-icons bi bi-building"
                   href="{% url 'accounts:addresslist' %}">address</a>
                <a class="nav-link active material-icons bi bi-file-text"
                   href="{% url 'orders:orderHistoryList' %}">order
                    history</a>
                <a class="nav-link active material-icons bi bi-clipboard-check"
                   href="{% url 'orders:orderHistoryStatusList' %}">order status</a>
            {% endif %}
            {% if request.user.is_nazer %}
                <i class="bi-card-heading"></i>
                <a class="nav-link active material-icons bi bi-card-heading"
                   href="{% url 'accounts:nazer_panel' %}">nazer
                    panel</a>
                <a class="nav-link active material-icons bi bi-file-person"
                   href="{% url 'accounts:profileUpdate' %}">profile
                    update</a>
            {% endif %}
            {% if request.user.is_operator %}
                <ul>
                    <li class="nav-item dropdown">
                        <a style="color:white"
                           class="nav-link dropdown-toggle material-icons bi bi-file-earmark-richtext" href="#"
                           id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            management
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a style="color:black" class="nav-link active" href="{% url 'accounts:userlist' %}">user
                                management</a>
                            </li>
                            <li><a style="color:black" class="nav-link active" href="{% url 'orders:order_List' %}">order
                                management</a>
                            </li>
                            <li><a style="color:black" class="nav-link active"
                                   href="{% url 'accounts:addressListManagement' %}">adress management</a></li>
                            <li><a style="color:black" class="nav-link active "
                                   href="{% url 'accounts:profileUpdate' %}">profile
                                update</a></li>
                        </ul>
                    </li>
                </ul>


                {#                <a class="nav-link active">operater</a>#}


            {% endif %}
        </div>
    </div>
</nav>